.about-container {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
  
  .about-image {
    flex-shrink: 0;
  }
  
  .about-image img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .about-text {
    font-size: 18px;
    color: #fdf7f7;
    max-width: 800px;
  }
  
  .about-header {
    font-size: 30px;
    font-weight: bold;
    color: #f5efb9;
    margin-bottom: 20px;
  }
  