.about-container {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-direction: column;
    gap: 8px;
  }
  
  .about-image {
    flex-shrink: 0;
  }
  
  .about-image img {
    width: 200px;
    height: auto;
    margin-left: 30px;
    object-fit: cover;
    margin-top: 20px;
  }
  
  .about-text {
    font-family: 'NTR', sans-serif;
    font-size: 22px;
    color: #fdf7f7;
    max-width: 800px;
  }
  
  .about-header {
    font-family: 'NTR', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #96bec3;
    margin-bottom: 20px;
  }
  .custom-font {
    font-family: 'NTR', sans-serif;
    font-size: 22px;
    color: #ccc2c2;
    line-height: 1.5;
   
  }
  .tech-stack-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  
  .tech-stack {
    list-style-type: circle;
    padding-left: 20px;
    margin: 0;
  }
  
  .tech-stack li {
    margin-bottom: 2px;
  }
  