.contact {
    padding-top:5cm;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;

}
.text{
   color: var(--slate);
   padding-top:5cm;

  

}
.fixed-icon{
    position: fixed;
    right: 0;
    top: 140px;
}
