#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    
  }.experience-content {
    display: flex;
    flex-direction: row;
    
  }
  .experience-title {
    font-family:  sans-serif;
    color: var(--slate);
    font-weight: 300;
    font-size: 35px;

  }
  
  
  .experience-description {
    font-family: "NTR", sans-serif;
    color: var(--slate);
    max-width: 600px;
    font-size: 22px;
    text-align: justify;
    
  }
  
  .experience-description a,
  .experience-description b {
    font-size: 21px;
    font-weight: bold;
  }