#header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    min-height: 50vh;
  }
  
  
  
  .header-desc {
    color: var(--slate);
    font-family: "NTR", sans-serif;
    font-size: 22px;
    max-width: 40%;
    text-align: justify;
    padding-bottom: 50px;
  }
 
  .header-name


  {
    color: var(--slate);

  }
  
 
  
  