.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  z-index: 2;
  padding-top: 0; 
  position: relative;
  margin-top: -50px; 
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text {
  color: #ffff;
}

.intro-header {
  color: hsl(0, 0%, 28%);
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 7px!important;
  cursor: pointer;
  text-transform: uppercase;
  padding: 30px;
  background: linear-gradient(to right, hsla(0, 0%, 30%, 0.521) 0, hsl(0, 0%, 100%) 10%, hsl(23, 4%, 58%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
.intro-subtext {
  font-size: 15px;
  color: #ccc; 
  margin-top: 20px; 
  text-align: center;

}