.App {
  text-align: center;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  

  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(22, 22, 22, 0.8);

  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 200px;
}
.grid-item2 {
  border: 1px solid rgba(13, 13, 13, 0.8);

  font-size: 30px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text{
  color: aliceblue;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
